*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

body {
  font-family: "Roboto Condensed", sans-serif;

  background-color: #785bee;
  /* background-color: rgba(237, 243, 252, 0.65); */
  /* background-color: rgba(255, 255, 255, 0.85); */
}
html {
  color: ddd;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
/* NAVIGATOR STYLES */

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  /* margin-right: 10rem; */
  margin-top: 10rem;
}
input {
  padding: 0.5rem;
  margin: 0.2rem 0;
}
a {
  text-decoration: none;
  padding: 10px;
  font-family: inherit;
  color: inherit;
  font-size: 20px;
}

.link {
  text-decoration: none;
  color: #000;
  font-family: inherit;
  margin-top: 1rem;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 15px 5px;
  background-color: #ffe600;
  /* background-color: #fb5e02; */
}
.link:hover {
  background-color: #ffe600;
  color: #fb5e02;
}

button {
  text-decoration: none;
  color: #fff;
  font-family: inherit;
  margin-top: 1rem;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: solid 10px #ddd;
  background-color: #355b5e;
}

.register {
  color: #ffe600;
}
.footer {
  background-color: #333;
  color: #fff;
  font-size: 14px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 15vh;
}

footer {
  margin-top: 15vh;
}
